EDIFACTApp/Connected Services/PayloadServiceReference/PayloadService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PayloadService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PayloadService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PayloadContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidXML" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayloadContract" nillable="true" type="tns:PayloadContract" />
</xs:schema>