EDIFACTApp/Connected Services/PayloadServiceReference/PayloadService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52373/PayloadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PayloadService" />
  <xs:element name="PostPayloadXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostPayloadXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PayloadService" minOccurs="0" name="PostPayloadXMLResult" nillable="true" type="q1:PayloadContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>